{{define "index"}}

{{template "head" }}

<body>

    {{template "header" }}

    <div class="container mt-3">
        <p>Выберите изображение для статьи:</p>
        <div class="mb-3">
            <input type="file" id="imageInput" class="form-control" accept="image/*">
        </div>
        <input type="text" id="title" placeholder="Введите название статьи" class="form-control" required><br>
        <input type="text" id="subtitle" placeholder="Введите подзаголовок статьи" class="form-control" required><br>
        <input type="text" id="createAt" class="form-control md-2" placeholder="Введите подзаголовок статьи" value="" readonly>
        <div class="form-check md-2 ">
            <input class="form-check-input "  type="checkbox" value="" id="flexCheckDefault" title="Сделать публичным?">
            <label class="formmd-2-check-label" for="flexCheckDefault">
                Сделать публичным
            </label>
        </div>

        <h3>Выбор темы</h3>
        <label for="theme" class=" mb-3" >Выберите тему:</label>

        <div id="theme" class="themesArticle">
            {{range $index, $item := . }}
                <button class = "colorThemes me-2 mb-4" style="background-color: {{ $item.Color }};" onclick="selectTheme('{{$item.Id}}')"></button>
            {{end}}
        </div>
        <script>
            function openModal() {
                $('#myModal').modal('show');
            }
            var currentDate = new Date();

            // Форматировать дату в строку (например, "dd.mm.yyyy")
            var formattedDate = currentDate.getDate() + '.' + (currentDate.getMonth() + 1) + '.' + currentDate.getFullYear();

            // Установить отформатированную дату в поле ввода
            document.getElementById("createAt").value = formattedDate;

            function closeModal() {
                $('#myModal').modal('hide');
            }
        </script>

        <div id="editor" name="editor" placeholder="Введите текст статьи" class="h-50 p3 "></div>
        <button class="btn btn-primary mt-2" id="saveButton">Добавить</button>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Добавление статьи</h5>
                </div>
                <div class="modal-body">
                    <p id="successMessage">Статья успешно создана.</p>
                    <p>Сгенерированная ссылка: <a href="#" id="generatedLink">Ссылка</a></p>
                    <div class="img-fluid " >
                        <img src="#" alt="QR Code" id="QRCode" class="img-fluid">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="saveArticle">Загрузить QR-код</button>
                    <button type="button" class="btn btn-primary" id="goToHomepage">На главную</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var selectedTheme = {}; // Объект для хранения выбранной темы

        function selectTheme(ID) {
            // Отправить запрос на сервер
            fetch(`/theme/${ID}`, { method: 'GET' })
                .then(function(response) {
                    if (response.status === 200) {
                        response.json().then(function(data) {
                                // Обновить selectedTheme на основе данных с сервера
                                selectedTheme = {
                                    id: ID,
                                    name: data.name,
                                    color: data.color,
                                    image: data.image,
                                };
                                console.log(selectedTheme)
                            editor =  document.getElementById("editor")
                            editor.style.backgroundColor = selectedTheme.color                        });

                    } else {
                        console.error('Ошибка отправки запроса на сервер:', response.statusText);
                        return null;
                    }
                })

                .catch(function(error) {
                    console.error('Ошибка получения данных с сервера:', error);
                });
        }

        var quill = new Quill('#editor', {
            theme: 'snow', // Тема редактора (по умолчанию "snow")

            // Настройки панели инструментов
            modules: {
                toolbar: [
                    [{ 'header': '1' }, { 'header': '2' }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image'],
                    [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['clean'],
                    [{'font': []}],

                ]
            },

            // Настройки форматирования текста
            formats: [
                'header', 'bold', 'italic', 'underline', 'strike',
                'link','image', 'list', 'align', "font",
            ]
        });

        // Обработка события изменения контента
        quill.on('text-change', function(delta, oldDelta, source) {
            // Здесь вы можете обрабатывать изменения текста
            console.log('Text changed:', delta);
        });
        // Получение кнопки по ее ID
        var saveButton = document.getElementById('saveButton');


        // Добавление обработчика события на клик кнопки
        saveButton.addEventListener('click', function() {
            // Получение содержимого редактора
            var titleInput = document.getElementById("title");
            var subtitleInput = document.getElementById("subtitle");
            var createAtInput = document.getElementById("createAt");


            var editorContent = quill.root.innerHTML; // Если это поле для ввода текста

            if (titleInput.value.trim() === '' || subtitleInput.value.trim() === '' || createAtInput.value.trim() === '' || editorContent.trim() === '') {
                alert('Пожалуйста, заполните все поля.');
                return; // Не выполняем отправку данных
            }else {
                sendArticleContent();
                openModal();
            }

        });
        // Получение содержимого редактора
        function getEditorContent() {
            var content = quill.root.innerHTML;
            console.log('Editor content:', content);
        }

        // Установка содержимого редактора
        function sendArticleContent() {

            // Получение содержимого редактора
            const fileInput = document.getElementById('imageInput');
            var titleInput = document.getElementById("title");
            var subtitleInput = document.getElementById("subtitle");
            var createAtInput = document.getElementById("createAt");
            const radioButton = document.getElementById('flexCheckDefault');


            // Получаем значения из других полей (title, subtitle, createAt, content)
            var title = titleInput.value;
            var theme = selectedTheme.id;
            var subtitle = subtitleInput.value;
            var createAt = createAtInput.value;
            var editorContent = quill.root.innerHTML; // Если это поле для ввода текста
            var selectedFile = fileInput.files[0];




            console.log("Selected theme ID:", selectedTheme.id);
            console.log("Title:", title);
            console.log("Subtitle:", subtitle);
            console.log("CreateAt:", createAt);
            console.log("Editor content:", editorContent);
            console.log("Selected file:", selectedFile);

            const formData = new FormData();

            if (radioButton.checked) {
                formData.append("public", true)
            }else {
                formData.append("public", false)
            }

            // Добавляем все данные в объект FormData
            formData.append("title", title);
            formData.append("subtitle", subtitle);
            formData.append("createAt", createAt);
            formData.append("content", editorContent);
            formData.append("image", selectedFile);
            formData.append("theme", theme);

            console.log(title)

        var options = {
            method: 'POST',
            body: formData,
        };
        // Отправка POST-запроса
        fetch('/articles', options)
            .then(function(response) {
                if (response.status === 201) {
                    response.json().then(function(data) {
                        console.log(data);
                        const articleUrl = data.Url;
                        console.log(data)

                        // Устанавливаем URL в элемент с id "generatedLink"
                        const generatedLink = document.getElementById('generatedLink');
                        generatedLink.href = articleUrl;
                        generatedLink.innerHTML = articleUrl;

                        var qrCodeImg = document.getElementById("QRCode");
                        qrCodeImg.src = data.Article.QRCode;
                    });
                    console.log('Статья успешно создана и сохранена!');
                } else {
                    console.error('Ошибка создания статьи:', response.statusText);
                }
            })
            .catch(function(error) {
                console.error('Ошибка отправки запроса:', error);
            });
        }
    </script>
    <script>
        function showSuccessMessage() {
            document.getElementById('successMessage').style.display = 'block';
        }

        function showGeneratedLink(link) {
            var generatedLink = document.getElementById('generatedLink');
            generatedLink.href = link;
            generatedLink.innerHTML = link;
        }

        function showGeneratedQRCode(qrCodeData) {
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: qrCodeData,
                width: 128,
                height: 128
            });
        }


    </script>


    <script>
        document.getElementById('saveArticle').addEventListener('click', function() {
            closeModal();
            showSuccessMessage();
            showGeneratedLink('https://example.com/your-article-link');
            showGeneratedQRCode('https://example.com/your-article-link');
        });
    </script>

    <script>
        // Находим элементы на странице
        const qrCodeImage = document.getElementById("QRCode");
        const loadButton = document.getElementById("saveArticle");

        // Добавляем обработчик события клика на кнопку
        loadButton.addEventListener("click", function() {
            // Создаем временную ссылку для скачивания
            const a = document.createElement("a");
            a.href = qrCodeImage.src;
            a.download = "QRCode.png"; // Имя файла, который будет скачан

            // Добавляем ссылку в документ, эмулируем клик и удаляем ссылку
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        });
    </script>

    <script>
        const goToHomepageButton = document.getElementById("goToHomepage");

        // Добавляем обработчик события клика на кнопке
        goToHomepageButton.addEventListener("click", function() {
            // Перенаправляем на главную страницу
            window.location.href = "/"; // Замените "/" на путь к вашей главной странице
        });
    </script>
</body>

    {{template "footer" }}

{{end}}
